dist/
node_modules
.env
.xbox.tokens.json
coverage

# test & build
docs/coverage
docs/.next/
docs/out/
docs/build
*.tsbuildinfo

# generated content
.contentlayer
.content-collections
.source
out/
docs/content/docs/api/*.mdx
!docs/content/docs/api/*.model.mdx

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts