name: Build
on:
    push:
      branches:
        - main
        - '**'
    pull_request:
      types: [opened, synchronize, reopened]

jobs:
    build:
      runs-on: ubuntu-latest

      strategy:
        matrix:
          node: [22.x]
          
      name: Node ${{ matrix.node }}
      steps:
        - uses: actions/checkout@v5.0.0

        - name: Setup node
          uses: actions/setup-node@v6.0.0
          with:
            node-version: ${{ matrix.node }}

        - name: Install dependencies
          run: npm ci

        - name: Lint code
          run: npm run lint

        - name: Build dist
          run: npm run build

        - name: Run tests
          run: npm test

        - name: SonarCloud Scan
          uses: SonarSource/sonarqube-scan-action@v6.0.0
          env: 
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          with:
            args: >
              -Dsonar.organization=unknownskl-github
              -Dsonar.projectKey=unknownskl_xbox-xcloud-player