on: ['push', 'pull_request']

jobs:
    build:
      runs-on: ubuntu-latest

      strategy:
        matrix:
          node: [12.x, 14.x, 16.x]
          
      name: Node ${{ matrix.node }}
      steps:
        - uses: actions/checkout@v2

        - name: Setup node
          uses: actions/setup-node@v2.4.0
          with:
            node-version: ${{ matrix.node }}

        - name: Install dependencies
          run: npm ci

        - name: Lint code
          run: npm run lint

        - name: Build dist
          run: npm run build