name: Sonarcloud Scan
on:
    push:
      branches:
        - main
        - '**'
    pull_request:
      types: [opened, synchronize, reopened]

jobs:
    build:
      runs-on: ubuntu-latest

      strategy:
        matrix:
          node: [18.x, 20.x]
          
      name: Node ${{ matrix.node }}
      steps:
        - uses: actions/checkout@v4.1.2

        - name: Setup node
          uses: actions/setup-node@v4.0.2
          with:
            node-version: ${{ matrix.node }}

        - name: Install dependencies
          run: npm ci

        - name: debug
          run: ls -la

        - name: Lint code
          run: npm run lint

        - name: Build dist
          run: npm run build

        - name: Run tests
          run: npm test

        - name: SonarCloud Scan
          uses: SonarSource/sonarcloud-github-action@master
          env: 
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          with:
            args: >
              -Dsonar.organization=unknownskl
              -Dsonar.projectKey=unknownskl_xbox-xcloud-player